<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OAuth with Express</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h2>Homepage</h2>
        </header>
        <main>
            <p>A paragraph ...</p>
        </main>
    </body>
</html>
